<div class="body">
	<h3>
		<%= @user.last_name %>
		<%= @user.first_name %>
	</h3>
	<%= link_to admin_manager_path(@user.id),method: :delete, data:{confirm: "本当に退会させますか？"},class: "btn btn-danger actions" do %>
	<span>退会</span>
	<% end %>
	<%= link_to edit_admin_manager_path(@user.id),class: "btn btn-success actions" do %>
	<span>編集</span>
	<% end %>
	<br>



	<% @orders.each do |order| %>
	<table class="table">
		<thead>
			<tr>
				<th>受注日</th>
				<th>決済方法</th>
				<th>お届け先</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= order.created_at %></td>
				<td><%= order.created_at %></td>
				<td><%= order.delivery_target_address %></td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<thead>
			<tr>
				<th>商品名</th>
				<th>数量</th>
				<th>状況</th>
				<th>小計(税込)</th>
				<th>送料</th>
				<th>合計金額(税込)</th>
			</tr>
		</thead>
		<thead>
			<% order.order_items.each do |order_item| %>
			<tr>
				<td>
					<%= order_item.product.name %>
				</td>
				<td>
					<%=order_item.number %>
				</td>
				<td>
					<%= order_item.product.status %>
				</td>
				<td></td>
				<td></td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<%= order.shipping_fee %>
				</td>
				<td>
					<%= order.total_amount %>
				</td>
			</tr>
		</thead>
	</table>
	<% end %>
</div>


