<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h5 class="genre">ジャンルから探す</h5>
				<% @genres.each do |genre| %>
				<div class="row">
					<div class="col-md-8 genre">
						<%= link_to genre.name, admin_genre_path(genre.id) %>
					</div>
				</div>
				<% end %>
				<h5 class="genre search-artist">人気歌手から探す</h5>
				<div class="row">
					<div class="col-md-8 genre">
						<% @all_ranks.each do |product| %>
						<% if @artistname==product.artist.name %>
						<% else %>
						    <p class="artist-search-link">
							   <%= link_to product.artist.name, admin_artist_path(product.artist.id) %>
						    </p>
							<% @artistname = product.artist.name %>
						<% end %>
				        <% end %>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-md-offset-1">
				<p class= "jii" ><%= @artist.name %></p>
				<div class="row">
					<% if admin_signed_in? %>
					<% @products.each do |product| %>
					<div class="col-md-2">
						<%= link_to admin_manager_product_path(product.id) do %>
			            <%= attachment_image_tag product, :jacket_image, :fill, 110,110, fallback: "",size: "100*100" %><br/>
			            <div class="product-name-artist">
			            	<%= product.artist.name %>/&nbsp;&nbsp;<%= product.name.truncate(10) %><br/>
			            </div>
			            <p class="kakaku">価格</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price-color"><strong>￥<%= converting_to_jpy(product.price) %></strong></span><br/>
						<p class="linkborder"><%= product.status %></p>
						<% end %>
					</div>
					<% end %>
					<% else %>
					<% @products.each do |product| %>
					<div class="col-md-2">
						<%= link_to product_path(product.id) do %>
			            <%= attachment_image_tag product, :jacket_image, :fill, 110,110, fallback: "",size: "100*100" %><br/>
			            <div class="product-name-artist">
			            	<%= product.artist.name %>/&nbsp;&nbsp;<%= product.name.truncate(10) %><br/>
			            </div>
			            <p class="kakaku">価格</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price-color"><strong>￥<%= converting_to_jpy(product.price) %></strong></span><br/>
						<p class="linkborder"><%= product.status %></p>
						<% end %>
					</div>
					<% end %>
					<% end %>
				</div>
				<%= paginate @products %>
			</div>
		</div>
	</div>
</div>