<div class="baby">
	<h2>マイページ</h2>

	<div class="user-info-heading">
		<h4>ユーザー情報</h4>
	</div>

	<div class="user-info">
			<p>
				<label>名前：</label>
				<%= @user.last_name %><%= @user.first_name %>
			</p>
			<p>
				<label>住所：</label>
				<%= @user.address %>
			</p>
		<% @addresses.each do |address| %>
	        <p>
	        	<%= address.address %>
	        </p>
	    <% end %>
	        <p>
	        	<lavel>郵便番号：</lavel>
	        	<%= @user.postal_code %>
	        </p>
	        <p>
	        	<lavel>電話番号：</lavel>
	        	<%= @user.phone_number %>
	        </p>
	        <p>
	        	<label>メールアドレス：</label>
	        	<%= @user.email %>
	        </p>
	    <%= link_to edit_user_path(@user),class: "btn btn-warning btn-xs" do %>
			<span>プロフィール編集</span>
		<% end %>
	</div>

	<%= link_to user_path(@user.id),method: :delete, data:{confirm: "本当に退会しますか？"},class: "btn btn-danger destroy" do %>
	<span>退会</span>
	<% end %>

	<h3>購入履歴</h3>
	<div class="container">
		<div class="row">
			<% @orders.each do |order| %>
			<div class="user-history col-md-4 col-md-offset-1">
				<div class="row">
					<div class="col-md-4 col-md-offset-1">
						<p>購入日<%= order.created_at %></p>
						<p>送付先<%= order.delivery_target_address %></p>
						<p>総額<%= order.total_amount %></p>
						<%= link_to "購入詳細",user_history_path(user_id: @user.id , id: order.id) %>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<% order.order_items.each do |order_item| %>
						<%= order_item.product.name %>
						<% end %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= paginate @orders %>


