<div class="body">
	<h2 class="shinki">注文内訳</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>注文ID:&nbsp;&nbsp;&nbsp;<%= @order.id %></th>
				<th>注文日時:&nbsp;&nbsp;&nbsp;<%= @order.created_at.to_s(:datetime_jp) %></th>
				<th>合計金額:&nbsp;&nbsp;&nbsp;<%= converting_to_jpy(@order.total_amount) %></th>
				<th>支払い方法:&nbsp;&nbsp;&nbsp;<%= @order.payment_method %></th>
				<th>送付先:&nbsp;&nbsp;&nbsp;<%= @order.delivery_target_address %></th>
			</tr>
		</thead>
	</table>

	<table class="table table-hover aiueo">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>価格</th>
				<th>注文数</th>
				<th>小計</th>
				<th>送料</th>
				<th>合計</th>
			</tr>
		</thead>
		<tbody>
			<% @orderitems.each do |orderitem| %>
			<tr>
				<td><%= orderitem.product.id %></td>
				<td><%= orderitem.product.name %></td>
				<td><%= converting_to_jpy(orderitem.product.price) %></td>
				<td><%= orderitem.number %></td>
				<td>
					<%= converting_to_jpy(orderitem.product.price*orderitem.number) %>
				</td>
				<td></td>
				<td></td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><%= @order.shipping_fee %></td>
				<td><%= converting_to_jpy(@order.total_amount) %></td>
			</tr>
		</tbody>
	</table>
</div>
