
<p>お支払方法を選択してください</p>


<%= form_with(model: @user, local: true, url: user_orders_path,method: :post) do |f| %>
	<div>
		<%= f.radio_button :payment_method, :銀行振込 %>
		<%= f.label :支払い, "銀行振込", {value: :male, style: "display: inline-block;"} %></P>
		<p>
			<%= f.radio_button :payment_method, :クレジットカード %>
			<%= f.label :支払い, "クレジットカード", {value: :female, style: "display: inline-block;"} %>	
		</p>
		<p>
			<%= f.radio_button :payment_method, :代引き %>
			<%= f.label :支払い, "代引き", {value: :female, style: "display: inline-block;"} %>
		</p>
	</div>

	<p>お届け先のご住所を選択してください</p>


	<p>
		名前 ：　<%= @user.last_name %><%= @user.first_name %>
	</p>
	<p>
		電話番号　：　<%= @user.phone_number %>
	</p>

	<%= f.collection_select :delivery_target_address, @address, :id, :address,class: 'simple' %>
	<%=link_to "住所を変更される方はこちら",user_path(current_user) %>
	<p>
		<注文内容>
	</p>
	<p>
		商品の小計  ：<%= @totalprice %>
	<p>
	<p>
		送料　：　500円
	</p>
	<p>
		合計　：　<%= "#{@totalprice}".to_i + 500 %>円
	</p>

	<button type="button" class="btn btn-default" >
		<%=link_to "Back",user_cart_items_path %>         
	</button>

	<button class="btn btn-warning">
		<%= f.submit "注文確定" ,data:{ confirm: '注文を確定しますか?'}%>
	</button>


