<div class="body">
	<div class="container">
		<div class="row">
			<h2 class="cart">カート一覧</h2>
			<div class="col-md-12">
				<div class="row">
					<table class='table table-hover table-inverse'>
						<thead>
							<tr>
								<th></th>
								<th>商品名</th>
								<th>価格</th>
								<th>数量</th>
								<th></th>
								<th>合計金額</th>
								<th colspan="4"></th>
							</tr>
						</thead>
						<% @cartitems.each do |cartitem| %>
						<tr>
							<td><span><%= attachment_image_tag cartitem.product, :jacket_image, :fill, 80,
							80, fallback: "",size: "100*100" %></span></td>
							<td><span><%= cartitem.product.name %></span></td>
							<td><span>￥<%= cartitem.product.price %></span></td>
							<td><span> <%= form_for(cartitem , url: user_cart_item_path(user_id:current_user.id,id:cartitem.id) )  do |f| %>
								<p>購入枚数</p>
								<%= f.number_field :count,value: cartitem.count %>
								<%= f.submit "確定する" %>
								<% end %></span></td>
								<td><span><%= link_to "削除",user_cart_item_path(user_id: @user.id, id: cartitem.id),method: :delete %></span></td>
								<td><span>￥<%= cartitem.product.price*cartitem.count %></span></td>
								<td><span><% @totalprice+=cartitem.product.price*cartitem.count %></span></td>
							</tr>
							<% end %>
						</thead>
					</table>
					<h2>商品合計   ￥<%= @totalprice %>
						<%=link_to "買い物を続ける" ,root_path,class: "btn btn-default"  %>
						<%= link_to "レジへ進む", new_user_order_path,class: "btn btn-default"  %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
