<link rel="stylesheet" href="products.scss">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-6">
  			<div>
  				<%= attachment_image_tag @product, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '200x200', fallback: "no_image.jpg" %>
  			</div>
  		</div>

  		<div class="col-xs-6">
       <table class='table table-hover table-inverse'>
        <tr>
         <h2>商品情報</h2>
       </tr>
       <tr>
        <td>商品名</td>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <td>発売日</td>
        <td><%= @product.release_date %></td>
      </tr>
      <tr>
        <td>在庫数</td>
        <td>
          <% @arrivals.each do |arrival| %>
          <% @count+=arrival.count %>
          <% end %>
          <% @orderitems.each do |orderitem| %>
          <% @number+=orderitem.number %>
          <% end %>
          <%= @count-@number %>
        </td>
      </tr>
      <tr class="test">
        <td>価格</td>
        <td><%= @product.price %>円</td>
      </tr>
      <tr>
       <td>送料</td>
       <td>500円</td>
     </tr>
     <tr>
       <td>アーティスト</td>
       <td><%= @product.artist.name %></td>
     </tr>
     <tr>
       <td>レーベル</td>
       <td><%= @product.label.name %></td>
     </tr>
     <tr>
       <td>ジャンル</td>
       <td><%= @product.genre.name %></td>
     </tr>
   </table>

   <table>
    <% @discs.each do |disc| %>
    <tr>
      <th>ディスク名</th>
    </tr>
    <tr>
     <td><%= disc.name %></td>
   </tr>
   <th>曲名</th>
   <% disc.songs.each do |song| %>
   <tr>
     <td><%= song.name %></td>
   </tr>
   <% end %>
   <% end %>
 </table>
</div>
<%= link_to '削除',  admin_manager_product_path, class: "btn btn-danger" ,method: :delete ,"data-confirm" => "本当に削除しますか?"%></span></td>
<%= link_to "編集", edit_admin_manager_product_path(@product), class: "btn btn-default"  %>

     <h2>入荷履歴</h2>
     <table>
      <thead>
        <tr>
          <th>入荷日時</th>
          <th>個数</th>
        </tr>
      </thead>
      <thead>
        <% @arrivals.each do |arrival| %>
        <tr>
          <td><%= arrival.datetime %></td>
          <td><%= arrival.count %></td>
        </tr>
        <% end %>
      </thead>
     </table>
     <%= form_for @arrival,url: admin_manager_product_arrivals_path(manager_product_id: @product.id) do |f| %>
  <lavel>入荷日時</lavel><br/>
    <%= f.text_field :datetime %><br/>

  <lavel>個数</lavel><br/>
    <%= f.number_field :count %><br/>

    <%= f.submit "登録",class: "btn btn-success" %><br/>
<% end %>

