<div class="body">
  <div class="container">
  	<div class="row">
      <div class="col-md-6">
        <div class="product-image">
          <%= attachment_image_tag @product, :jacket_image, :fill, 400,400, fallback: "",size: "100*100" %>
        <div><span><%= fa_icon "star-o",class: "star-o" %></span>
        <%= @product.favorites.count %>
      </div>
      </div>
        </div>
      <div class="col-md-6">
        <div class="row">
          <table class="product-table col-md-10 col-md-offset-1">
            <tr>
              <th>商品名</th>
              <td><%= @product.name %></td>
            </tr>
            <tr>
              <th>アーティスト</th>
              <td><%= @product.artist.name %></td>
            </tr>
            <tr>
              <th>発売日</th>
              <td><%= @product.release_date.to_s(:datetime) %></td>
            </tr>
            <tr>
              <th>在庫数</th>
              <td>
                <% @arrivals.each do |arrival| %>
                <% @count+=arrival.count %>
                <% end %>
                <% @orderitems.each do |orderitem| %>
                <% @number+=orderitem.number %>
                <% end %>
                <%= @count-@number %>
              </td>
            </tr>
            <tr>
              <th>価格</th>
              <td><%= converting_to_jpy(@product.price) %></td>
            </tr>
            <tr>
              <th>送料</th>
              <td>500</td>
            </tr>
            <tr>
              <th>レコード会社</th>
              <td><%= @product.label.name %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @product.genre.name %></td>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td><%= @product.status %></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <table class="disc-table col-md-10 col-md-offset-1">
            <% @discs.each do |disc| %>
            <tr>
              <th><%= disc.name %></th>
            </tr>
            <% disc.songs.each do |song| %>
            <tr>
              <td><%= song.name %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
        <div class="row item-edit-destroy">
          <%= link_to "編集", edit_admin_manager_product_path(@product), class: "btn btn-warning col-md-4 col-md-offset-1 admin-item-edit"  %>
          <%= link_to '削除',  admin_manager_product_path, class: "btn btn-danger col-md-4 col-md-offset-2 admin-item-destroy" ,method: :delete ,"data-confirm" => "本当に削除しますか?"%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="arrival-date">入荷履歴登録</h2>
        <%= form_for @arrival,url: admin_manager_product_arrivals_path(manager_product_id: @product.id) do |f| %>
        <label>入荷日時</label>
        <div class="row">
          <%= f.text_field :datetime,class: "col-md-8 col-md-offset-1 arrival-text" %><br/>
        </div>
        <label>個数</label>
        <div class="row">
          <%= f.number_field :count,class: "col-md-8 col-md-offset-1 arrival-count" %><br/>
        </div>
        <div class="row">
          <%= f.submit "登録",class: "btn btn-success col-md-8 col-md-offset-1 arrival" %><br/>
        </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h2 class="col-md-10 col-md-offset-1">入荷履歴</h2>
        </div>
        <div class="row">
          <table class="table table-striped col-md-7 col-md-offset-1 arrival">
            <thead>
              <tr>
                <th>入荷日時</th>
                <th>個数</th>
              </tr>
            </thead>
            <thead>
              <% @arrivals.each do |arrival| %>
              <tr>
                <td><%= arrival.datetime.to_s(:datetime) %></td>
                <td><%= arrival.count %></td>
              </tr>
              <% end %>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

