  <div class="container">
  	<div class="row">
  		<div class="col-xs-6">
  			<div>
  				<%= attachment_image_tag @product, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '200x200', fallback: "no_image.jpg" %>
  			</div>
  		</div>
  		<div class="col-xs-6">

  			<table>
  				<tr>
  					<th>商品情報</th>
  				</tr>
  				<tr>
  					<td><%= @product.artist.name %></td>
  				</tr>
  				<tr>
  					<td><%= @product.label.name %></td>
  				</tr>
  				<tr>
  					<td><%= @product.genre.name %></td>
  				</tr>
  			</table>

  			<table>
  				<tr>
  					<th>曲順リスト</th>
  				</tr>
  				<% @discs.each do |disc| %>
  				<tr>
  					<td><%= disc.name %></td>
  				</tr>
  				<% disc.songs.each do |song| %>
  				<tr>
  					<td><%= song.name %></td>
  				</tr>
  				<% end %>
  				<% end %>
  			</table>

  			<table>
  				<tr>
  					<td><%= @product.name %></td>
  				</tr>
  				<tr>
  					<td><%= @product.release_date %></td>
          </tr>

  				<tr>
  					<td>
  						<% @arrivals.each do |arrival| %>
  						<% @count+=arrival.count %>
  						<% end %>
  						<% @orderitems.each do |orderitem| %>
  						<% @number+=orderitem.number %>
  						<% end %>
  						<%= @count-@number %>
  					</td>
  				</tr>
  				<tr>
  					<td><%= @product.price %></td>
  				</tr>
  				<tr>
  					<td>送料全国一律500円</td>
  				</tr>
  			</table>

        <%= form_tag("/users/#{current_user.id}/#{@product.id}/cart_items", method: :post) do %>
        <%= hidden_field_tag :product, @product.id %>
        <input type="submit" value="送信する">
        <% end %>

        </form>

     </td>
   </tr>

 </div>
</div>
</div>



