<div class="body">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<div class="product-image">
         <%= attachment_image_tag @product, :jacket_image, :fill, 400,400, fallback: "",size: "100*100" %>
       <div id="likes_buttons_<%= @product.id %>">
        <%= render partial: 'favorites/favorite', locals: { product: @product} %>
        <%= @product.favorites.count %>
      </div>
      </div>
      <div class="row product-cart">
            <%= form_for(@cartitem , url: user_cart_items_path(current_user) )  do |f| %>
            <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
        <% if @cartitem.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% @cartitem.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <%= f.number_field :count ,class: "col-md-2 col-md-offset-1 cart-count" %>
      <%= f.hidden_field :product, :value => @product.id %>
      <%= f.submit "カートに入れる", class: "btn btn-primary col-md-4" %>
    　<% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <table class="product-table col-md-10 col-md-offset-1">
          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <th>アーティスト</th>
            <td><%= @product.artist.name %></td>
          </tr>
          <tr>
            <th>発売日</th>
            <td><%= @product.release_date %></td>
          </tr>
          <tr>
            <th>在庫数</th>
            <td>
              <% @arrivals.each do |arrival| %>
              <% @count+=arrival.count %>
              <% end %>
              <% @orderitems.each do |orderitem| %>
              <% @number+=orderitem.number %>
              <% end %>
              <%= @count-@number %>
            </td>
          </tr>
          <tr>
            <th>価格</th>
            <td><%= @product.price %></td>
          </tr>
          <tr>
           <th>送料</th>
           <td>500円</td>
         </tr>
         <tr>
          <th>レコード会社</th>
          <td><%= @product.label.name %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <table class="disc-table col-md-10 col-md-offset-1 user-product-table">
        <% @discs.each do |disc| %>
        <tr>
          <th><%= disc.name %></th>
        </tr>
        <% disc.songs.each do |song| %>
        <tr>
          <td><%= song.name %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
</div>



