<div class="body">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<div class="product-image">
          <%= attachment_image_tag @product, :jacket_image, :fill, 400,400, fallback: "",size: "100*100" %>
          <div id="likes_buttons_<%= @product.id %>">
            <%= render partial: 'favorites/favorite', locals: { product: @product} %>
            <%= converting_to_jpy(@product.favorites.count) %>
          </div>
        </div>
        <div class="row product-cart">
          <% if current_user.nil? %>
          <%= link_to new_user_session_path do %>
          <button class="btn btn-primary">カートに入れる</button>
          <% end %>
          <% else %>
          <%= form_for(@cartitem , url: user_cart_items_path(current_user) )  do |f| %>
          <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
          <% end %>
          <% if @cartitem.errors.any? %>
          <div class="alert alert-warning">
            <ul>
              <% @cartitem.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= f.number_field :count ,class: "col-md-2 col-md-offset-1 cart-count" %>
          <%= f.hidden_field :product, :value => @product.id %>
          <%= f.submit "カートに入れる", class: "btn btn-primary col-md-4" %>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <table class="product-table col-md-10 col-md-offset-1">
              <tr>
                <th>商品名</th>
                <td><%= @product.name %></td>
              </tr>
              <tr>
                <th>アーティスト</th>
                <td><%= @product.artist.name %></td>
              </tr>
              <tr>
                <th>発売日</th>
                <td><%= @product.release_date.to_s(:datetime) %></td>
              </tr>
              <tr>
                <th>在庫数</th>
                <td>
                  <% @arrivals.each do |arrival| %>
                  <% @count+=arrival.count %>
                  <% end %>
                  <% @orderitems.each do |orderitem| %>
                  <% @number+=orderitem.number %>
                  <% end %>
                  <%= @count-@number %>
                </td>
              </tr>
              <tr>
                <th>価格</th>
                <td><%= converting_to_jpy(@product.price) %></td>
              </tr>
              <tr>
                <th>送料</th>
                <td>500</td>
              </tr>
              <tr>
                <th>レコード会社</th>
                <td><%= @product.label.name %></td>
              </tr>
              <tr>
                <th>ジャンル</th>
                <td><%= @product.genre.name %></td>
              </tr>
          </table>
        </div>
        <div class="row">
          <table class="disc-table col-md-10 col-md-offset-1 user-product-table">
            <% @discs.each do |disc| %>
            <tr>
              <th><%= disc.name %></th>
            </tr>
            <% disc.songs.each do |song| %>
            <tr>
              <td><%= song.name %></td>
            </tr>
            <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <% if current_user.nil? %>
      <div class="col-md-4 col-md-offset-1">
      </div>
      <% else %>
      <div class="col-md-4 col-md-offset-1 review-create">
        <h2 class="review-title">レビューを書く</h2>
        <%= form_for @review,url: product_reviews_path(product_id: @product.id) do |f| %>
        <label>コメント</label>
        <div class="row">
          <%= f.text_field :content,class: "col-md-8 col-md-offset-1 arrival-text" %><br/>
        </div>
        <label>表示ユーザ名</label>
        <div class="row">
          <%= f.text_field :name,class: "col-md-8 col-md-offset-1 arrival-count" %><br/>
        </div>
        <div class="row">
          <%= f.submit "レビューを送る",class: "btn btn-success col-md-8 col-md-offset-1 arrival" %><br/>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="col-md-6 col-md-offset-1">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="review-count"><%= "#{@reviews.count}件のレビュー" %></h2>
            <% @reviews.each do |review| %>
            <div class="review">
              <div>
                <p><span><%= fa_icon "user" %></span>&ensp;
                <% if review.name.empty? %>
                CD-SHOP カスタマー
                <% else %>
                <%= review.name %>
                <% end %>
              </p>
            </div>
            <div>
              <p><%= review.created_at.to_s(:datetime) %></p>
            </div>
            <div>
              <p class="b-break"><%= review.content %></p>
            </div>
            <% if current_user.nil? %>
            <% else %>
            <div class="review-btn">
              <% if review.user_id==current_user.id %>
              <%= link_to "編集",edit_product_review_path(product_id: @product.id,id: review.id) %>
              <% end %>
              <% if review.user_id==current_user.id %>
              <%= link_to "削除",product_review_path(product_id: @product.id,id: review.id),method: :delete,class: "review-danger" %>
              <% end %>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 class="equal-artist"><%= "#{@product.artist.name}のCD" %></h3>
      <div class="col-md-12">
        <div class="row">
          <% @product.artist.products.each do |product| %>
          <div class="col-md-2">
            <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :jacket_image, :fill, 110,110, fallback: "",size: "100*100" %><br/>
            <p class="link"><%= product.artist.name %>/&nbsp;&nbsp;<%= product.name.truncate(10) %></p>
            <p class="kakaku">価格</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>￥<%= converting_to_jpy(product.price) %></strong><br/>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



