<link rel="stylesheet" href="stylesheets.scss">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-6">
  			<div>
  				<%= attachment_image_tag @product, :jacket_image, :fill, 100, 100, format: 'jpeg', size: '300x300', fallback: "no_image.jpg" %>
  			</div>
  			<table class="table">
  				<tr>
  					<h2>商品情報</h2>
  				</tr>
  				<tr>
            <td>アーティスト</td>
            <td><%= @product.artist.name %></td>
  				</tr>
  				<tr>
            <td>レーベル</td>
  					<td><%= @product.label.name %></td>
  				</tr>
  				<tr>
            <td>ジャンル</td>
  					<td><%= @product.genre.name %></td>
  				</tr>
  			</table>


  			<table class="table">
  				<tr>
  					<th>曲順リスト</th>
  				</tr>
  				<% @discs.each do |disc| %>
  				<tr>
  					<td><%= disc.name %></td>
  				</tr>
  				<% disc.songs.each do |song| %>
  				<tr>
  					<td><%= song.name %></td>
  				</tr>
  				<% end %>
  				<% end %>
  			</table>
      </div>

        <div class="col-xs-6">
  			<table>
  				<tr>
            <td>タイトル</td>
  					<td><h2><%= @product.name %></h2></td>
  				</tr>
  				<tr>
            <td>発売日</td>
  					<td><%= @product.release_date %></td>
          </tr>
  				<tr>
            <td>在庫数</td>
  					<td>
  						<% @arrivals.each do |arrival| %>
  						<% @count+=arrival.count %>
  						<% end %>
  						<% @orderitems.each do |orderitem| %>
  						<% @number+=orderitem.number %>
  						<% end %>
  						<%= @count-@number %>
  					</td>
  				</tr>
  				<tr>
            <td>価格</td>
  					<td><%= @product.price %></td>
  				</tr>
  				<tr>
            <td>送料全国一律500円</td>
  				</tr>
  			</table>

     <%= form_for(@cartitem , url: user_cart_items_path(current_user) )  do |f| %>
     <%= f.number_field :count %>
     <%= f.hidden_field :product, :value => @product.id %>
     <%= f.submit "カートに入れる", class: "btn btn-sm btn-primary" %>
     <% end %>

   </form>
 </td>
</tr>
</div>
</div>
</div>


