<!DOCTYPE html>
<html>
  <head>
      <script src="https://kit.fontawesome.com/e08b590ac6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <hgroup>
        <div class="cd">CD-SHOP</div>
          &nbsp;
          <i class="fas fa-compact-disc my"></i>
            <div class="search">
              <% if user_signed_in? %>
              <%= form_tag(search_path, :method=>'get')do %>
              <%=select_tag(:option,options_for_select([["artist","1"],["genre","2"],["song","3"],["product","4"]]))%>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search'%>
              <% end %></div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%=link_to "ログアウト" ,destroy_user_session_path,method: :delete ,class: "fas fa-sign-out-alt" %>
          </li>
          <li>
            <%=link_to current_user.last_name ,user_path(current_user) %>
          </li>
          <li>
            <%=link_to "商品一覧" ,root_path %>
          </li>
          <li>
            <%=link_to "カート一覧" ,user_cart_items_path(current_user) %>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%=link_to "ログイン" ,user_session_path %>
          </li> 
          <li>
            <%=link_to "サインアップ" ,new_user_registration_path,class: "btn btn-info" %>
          </li>
          <li>
            <%=link_to "商品一覧" ,root_path %>
          </li>
        </ul>
     <% end %>
      </hgroup>
    </header>
    <%= yield %>
  </body>
</html>